body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather',serif;
    color: #40514E;
    /* font-size: 200%; */
}
.top{
    background-color: #e4f9f5;
    margin: 0%;
    padding-top: 100px;
    position: relative;    
}
h1{
    /* the second font here represnts the alternative font if the first font is not rendered */
    font-family: 'Sacramento',cursive;
    /* by not hardcoding the font-size (ex 90px) we are making it dynamic instead of static
    i.e if page is zoomed-in or zoomed-out the heading will also do the same accordingly  */

    font-size: 5.625rem;       /* 1 rem= 16px */

    /* font-size: 562.5%; */   /* 100% = 16px */
    margin-top: 50px;
    /* padding-top: 70px; */
    line-height: 1;
    color: #66BFBF;
}
h3{
    font-family: 'Montserrat',sans-serif;
    color: #11999E;
    font-weight: bolder;
}
h2{
    font-family: 'Montserrat',sans-serif;
    padding-bottom: 10px;
    font-weight: normal; 
    color: #66BFBF;
}
a{
    color: #11999E;
    text-decoration: none;
    font-family: 'Montserrat',sans-serif;
}
a:hover{
    color: #EAF6F6;
}
hr{
    color: #EAF6F6;
    border-style: dotted; 
    border-bottom-style:none ;
    height: 0%;
    width: 3%;   
    border-width: 7px;
    margin-bottom: 100px;
    margin-top: 100px;
}
p{
    line-height: 3;
}
button{
    background-color: #66BFBF;
    border-radius: 8px;
    border-style: none;
}
.top_cloud{
    position: absolute;
    /* margin: 10px auto; */
    top: 50px;
    right: 300px;
}
.bottom_cloud{
    position: absolute;
    bottom:300px;
    left: 300px;
} 
.middle-container{
    padding: 100px 0;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.computer{
    width: 25%;
    float: left;   /*FLOAT helps in alligning the text with the img*/
    border-radius: 50%;
    margin-right: 30px;
}
.footer-link{
    padding: 30px;
    padding-bottom: 40px;
}
.gym{
    width: 25%;
    border-radius: 50%;
    float: right;
    margin-left: 30px;
}
.intro{
    width: 30%;
    margin: auto;
}
.bottom-container{
    margin-top: 50px;
    padding-top: 50px;
    background-color: #66BFBF;
}
.my_pic{
    border-radius: 100%;
    margin-bottom: 30px;
    width: 20%;
}
.contact-message{
    margin: auto;
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -o-linear-gradient(top, #11cdd4,  #11999e);
    background-image: linear-gradient(to bottom, #11cdd4,  #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;

    
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
#programmer{
    font-size: 2.5rem;
}
#copyright{
    color: white;
    font-size: 0.75rem;
    padding-top: 20px;
    margin-bottom: none;
}